<div id="navtabs" style="width: 1200px">
	<ul>
		<li id="registerAccountancyImpersonalAccountsList"><a
			href="javascript:registerMenuAccountancy('accountancyImpersonalAccountsListInit')"
			title="Sachkonten">Sachkonten</a></li>
		<li id="registerAccountancyPersonalAccountsList"><a
			href="javascript:registerMenuAccountancy('accountancyPersonalAccountsListInit')"
			title="Sachkonten">Personenkonten</a></li>
	</ul>
	<BR>
</div>

<ul id="accountancyIconMenu"
	style='display: none; background-color: #fff; z-index: 1; position: absolute; top: 180px; border-width: 1px; border-style: solid; border-color: #000;'>
	<li onclick="javascript:purchaseBookIconMenuControl('voucher')">
		<div>
			<span class="ui-icon ui-icon-clipboard"></span>Beleg
		</div>
	</li>
</ul>



<div class=contentAccountancy style="position: relative; top: 0px"></div>
