<script>
</script>
<div class="context-menu-one btn btn-neutral" id="gridAccountancyImpersonalAccounts"
	style="margin: 0px;">gridImpersonalAccounts</div>

<!-- dialogPopUp -->
<div id="dialogAccountancyImpersonalAccountsDiv" style="display: none">
	<form id="dialogAccountancyImpersonalAccounts">
	<input type=hidden name=id>
	
			<table style="text-align: center;">
			<tbody>
				<tr>
					<td class="fieldname">Kontonummer:</td>
					<td style="text-align: left;"><input name="konto" type="text"></td>
				</tr>
			</tbody>
		</table>
		
	</form>
</div>