
<table>
<tr>
<td style="width:200px" valign=top>
			<div id="navmenu">
				&nbsp; <BR>
				<ul class="ulindex">
					<li id='management:firm'><a
						href="javascript:indexMenuArticle('articleMasterInit')">Artikelstamm</a></li>
					<li><hr></li>
					<li id='article:store'><a
						href="javascript:indexMenuStore('storeInit')">Warenlager</a></li>
					<li><hr></li>
					</ul>
			</div>
</td>
<td style="height:500px;border-left-style:solid;border-left-color:#000;border-left-width:1px;">&nbsp;</td>
<td valign=top>
	<div class="modulContent"></div>
</td>	
</tr>
</table>
