<div class="context-menu-one btn btn-neutral" id="gridArticleGroups"
	style="margin: 0px;">gridArticleGroups</div>

<!-- dialogPopUp -->
<div id="dialogArticleGroupsDiv" style="display: none">
	<form id="dialogArticleGroups">
	<input type=hidden name=id>
	<input type=hidden name=groupNo value="">
	
		<table>
			
			<tr>
			<td class="fieldname">Bezeichnung:</td>
			<td style="text-align: left;"><input name="name"
				type="text"></td>
			</tr>
			<tr>
			<td class="fieldname">Bezeichnung engl.:</td>
			<td style="text-align: left;"><input name="name_en"
				type="text"></td>
			</tr>
			
			
		</table>
		
	</form>
</div>
