<div class="context-menu-one btn btn-neutral" id="gridArticleVariations"
	style="margin: 0px;">gridArticleVariations</div>

<!-- dialogPopUp -->
<div id="dialogArticleVariationsDiv" style="display: none">
	<form id="dialogArticleVariations">
	<input type=hidden name=id>
	
		<table>
			<tr>
			<td class="fieldname">Variationsgruppe:</td>
			<td style="text-align: left;">
			<select name="variation_group_id"></select>
			</td>
			</tr>
			
			<tr>
			<td class="fieldname">Bezeichnung:</td>
			<td style="text-align: left;"><input name="name"
				type="text"></td>
			</tr>
			
		</table>
		
	</form>
</div>
