<script src="./web/js/articleMaster.js"></script>
	<section id="Article_tab-nav"
		style="display: visible; position: relative; top: 0px">

		<div id="navtabs">
			<ul>
				<li id="article:articleMasterList"><a
					href="javascript:registerMenuArticle('articleMasterListInit')" title="Artikelstamm"><span accesskey=a><u>A</u></span>rtikelstamm</a></li>
				<li id="article:articleGroupsList"><a				
					href="javascript:registerMenuArticle('articleGroupsListInit')" title="Artikelgruppen">Artikel<span accesskey=g><u>g</u></span>ruppen</a></li>
				<li id="article:articleVariations"><a				
					href="javascript:registerMenuArticle('articleCategoriesListInit')" title="Variationsgruppen">Va<span accesskey=r><u>r</u></span>iationsgruppen</a></li>
				<li id="article:articleVariations"><a				
					href="javascript:registerMenuArticle('articleVariationsListInit')" title="Artikelvariationen">Artikel<span accesskey=v><u>v</u></span>ariationen</a></li>
			</ul>
			<BR>
		</div>

	</section>

<div class=contentArticle style="position: relative ;top: 0px"></div>
