{% extends 'base.html.twig' %}
{% block javascripts %}
<script src="{{ asset('web/js/jquery.min.js') }}"></script>
<script src="{{ asset('web/js/jquery-ui.min.js') }}"></script>
{% endblock %}

{% block body %}
<form name=dialog method=post action="{{path('login')}}">
<input type=text name=user size=20><BR>
<input type=password name=password size=20><BR>
<input type=submit value=login><BR>
</form>
{% endblock %}