<table valign=top>
<tr>
<td>
<section id="Postout_tab-nav"
	style="display: visible; position: relative ;top: 0px">
	
		<div id="navtabs">
			<ul>
				<li id="management:Postout:box"><a
					href="javascript:registerMenuManagementPostout('managementPostoutBoxInit')" title="Postausgang">Postausgang</a></li>
				<li id="management:Postout:email"><a
					href="javascript:registerMenuManagementPostout('managementPostoutEmailInit')" title="EMail">E-Mail</a></li>
			</ul>
			<BR>
		</div>
	
</section>
</td>
</tr>
<tr>
<td>

<div class=contentPostout style="position: relative ;top: 0px"></div>
 </td>
</tr>
 
 </table>