<div class="context-menu-one btn btn-neutral" id="gridUser"
	style="margin: 0px;">gridUser</div>

<!-- dialogPopUp -->
<div id="dialogUserDiv" style="display: none">
	<form id="dialogUser">
	<input type=hidden name=userID>
	
			<table style="text-align: center;">
			<tbody>
				<tr>
					<td class="fieldname">Name:</td>
					<td style="text-align: left;"><input name="name" type="text"></td>
				</tr>
				<tr>
					<td class="fieldname">user:</td>
					<td style="text-align: left;"><input name="user" type="text"></td>
				</tr>
				<tr>
					<td class="fieldname">Passwort:</td>
					<td style="text-align: left;"><input name="passwd" type="text"></td>
				</tr>
				<tr>
					<td class="fieldname">Password (Wdh.):</td>
					<td style="text-align: left;"><input name="passwd2"
						type="text"></td>
				</tr>

				<tr>
					<td class="fieldname">Firma:</td>
					<td style="text-align: left;"><select name="firmID"></select>
					</td>
				</tr>
				<tr>
					<td class="fieldname">Klasse:</td>
					<td style="text-align: left;"><select name="classID"></select>
					</td>
				</tr>
				<tr>
					<td class="fieldname">Team:</td>
					<td style="text-align: left;"><select name="teamID"></select>
					</td>
				</tr>
				<tr>
					<td class="fieldname">Profil:</td>
					<td style="text-align: left;"><select name="profileID"></select>
					</td>
				</tr>

			</tbody>
		</table>
		
	</form>
</div>