<form id="dialog-purchase">

	<table>
		<thead>
		</thead>
		<tbody>
			<tr>
				<td colspan=3><b>Packetstation</b></td>
			</tr>
			<tr>
				<td>Postnummer</td>
				<td colspan=2><input type=text name=postNumber size=5 disabled></td>
			</tr>
			<tr>
				<td>PostPassword</td>
				<td colspan=2><input type=text name=postPassword size=15
					disabled></td>
			</tr>

			<tr>
				<td>Packetstation</td>
				<td colspan=2><input type=text name=parcelStationNo size=5
					disabled></td>
			</tr>

			<tr>
				<td>Straße</td>
				<td colspan=2><input type=text name=street size=20 disabled></td>
			</tr>

			<tr>
				<td>PLZ/Ort</td>
				<td><input type=text name=postcode size=5 disabled></td>
				<td><input type=text name=city size=20 disabled></td>
			</tr>
			<tr>
				<td colspan=3>editieren über den Postaccount</td>
			</tr>

		</tbody>
	</table>
</form>