<table>
<tr>
<td>
			<div id="navmenu">
				&nbsp; <BR>
				<ul class="ulindex">
					<li id='management:firm'><a
						href="javascript:indexMenuManagement('managementCompanyMasterInit')">Firmenstamm</a></li>
					<li><hr></li>
					<li id='management:mailroom'>Poststelle
						<ul class="ulsubindex">
							<li id='management:mail-in'><a
								href="javascript:indexMenuManagement('managementPostinInit')">Posteingang</a></li>
							<li id='management:mail-out'><a
								href="javascript:indexMenuManagement('managementPostoutInit')">Postausgang</a></li>
						</ul>
					</li>
					<li><hr></li>
					<!--<li id='management:ueu'><a href="javascript:menu('uebungsunternehmen')>&Uuml;bungsunternehmen</a></li>-->
					<li id='management:uebu'><a href="javascript:indexMenuManagement('managementFirmsInit')">&Uuml;bungsunternehmen</a></li>
					<li id='management:useradmin'><a
						href="javascript:indexMenuManagement('managementUserInit')">Benutzerverwaltung</a></li>
					<li id='management:tickets'><a
						href="javascript:indexMenuManagement('managementTicketsInit')">Tickets</a></li>
					<li id='management:vouchers'><a
						href="javascript:indexMenuManagement('managementVoucherInit')">Belege</a></li>
					<li><hr></li>
					<li id='management:documents'><a
						href="javascript:indexMenuManagement('managementDocumentsInit')">Dokumente (lokal)</a></li
>					<li><hr></li>
					<li id='management:exam'><a
						href="javascript:indexMenuManagement('managementExamInit')">Prüfungen</a></li>
					<li id='management:kkb'><a href="javascript:indexMenuManagement('managementKKBInit')">König
							Kunde Bestellung</a></li>
					<li><hr></li>
					<li id='management:mis'>MIS
						<ul class="ulsubindex">
							<li id='management:mis'><a
								href="javascript:menu('workflow')">Belegfluss</a></li>
							<!---<li id='management:mis'><a href="javascript:menu('postausgang')">Reklamationen</a></li>-->
						</ul>
					</li>
					<li><hr></li>
					<li id='management:mis'>System
						<ul class="ulsubindex">
							<li id='management:textmodules'><a
								href="javascript:indexMenuManagement('managementTextModulesInit')">Textbausteine</a></li>
							<li id='management:migration'><a
								href="javascript:indexMenuManagement('managementMigrationShopInit')">Migration portal10</a></li>
							<li id='management:updateShop'><a
								href="javascript:indexMenuManagement('managementMigrationShopUpdate')">update Artikel vom
									Marktplatz</a></li>
						</ul>
					</li>
					<li><hr></li>


				</ul>
			</div>
</td>
<td valign=top>
	<div class="modulContent"></div>
</td>	
</tr>
</table>
