<div class="context-menu-one btn btn-neutral" id="gridTickets"
	style="margin: 0px;">gridTickets</div>

<!-- dialogPopUp -->
<div id="dialogTicketsDiv" style="display: none">
	<form id="dialogTickets">
	<input type=hidden name=TicketsID>
	
			<table style="text-align: center;">
			<tbody>
				<tr>
					<td class="fieldname">Beleg:</td>
					<td style="text-align: left;"><input name="voucher" type="text"></td>
				</tr>
				<tr>
					<td class="fieldname">Datum:</td>
					<td style="text-align: left;"><input name="date" type="text"></td>
				</tr>
				<tr>
					<td class="fieldname">Benutzer:</td>
					<td style="text-align: left;"><select name="userID"></select>
					</td>
				</tr>
				<tr>
					<td class="fieldname">Team:</td>
					<td style="text-align: left;"><select name="teamID"></select>
					</td>
				</tr>
			</tbody>
		</table>
		
	</form>
</div>