<div class="context-menu-one btn btn-neutral" id="gridUserTeams"
	style="margin: 0px;">gridUserTeams</div>

<!-- dialogPopUp -->
<div id="dialogUserTeamsDiv" style="display: none">
	<form id="dialogUserTeams">
	<input type=hidden name=id>
		<table>
		<tbody>
				<tr>
					<td class="fieldname">Bezeichnung:</td>
					<td style="text-align: left;"><input name="name" type="text" size=10></td>
				</tr>
				<tr>
					<td class="fieldname">Firma:</td>
					<td style="text-align: left;"><select name="firmID"></select>
					</td>
				</tr>
				<tr>
					<td class="fieldname">Profil:</td>
					<td style="text-align: left;"><select name="profileID"></select>
					</td>
				</tr>
				<tr>
					<td class="fieldname">update Benutzer:</td>
					<td style="text-align: left;">
					<input name="updateUser" type="checkbox">
					</td>
				</tr>
		</tbody>
		
		</table>
		
	</form>
</div>