<div class="context-menu-one btn btn-neutral" id="gridPostinVoucher"
	style="margin: 0px;">gridPostinVoucher</div>

<!-- dialogPopUp -->
<div id="dialogPostinVoucherDiv" style="display: none;">
	<form id="dialogPostinVoucher">
	<input type=hidden name=id>
		<table>
			
			<tr>
			<td class="fieldname">Abteilung:</td>
			<td style="text-align: left;">
				<select name="division"></select>
			</td>
			</tr>

			<tr>
			<td class="fieldname">Beleg:</td>
			<td style="text-align: left;">
				<input name="voucher" type="text"> 
			</td>
			</tr>

		</table>
	</form>
</div>
