

<table valign=top>
<tr>
<td>
<section id="postin_tab-nav"
	style="display: visible; position: relative ;top: 0px">
	
		<div id="navtabs">
			<ul>
				<li id="management:postin:box"><a
					href="javascript:registerMenuManagementPostin('managementPostinBoxInit')" title="Posteingang"><span accesskey=p><u>P</u></span>osteingang</a></li>
				<li id="management:postin:voucher"><a
					href="javascript:registerMenuManagementPostin('managementPostinVoucherInit')" title="Belege"><span accesskey=b><u>B</u></span>elege</a></li>
			</ul>
			<BR>
		</div>
	
</section>
</td>
</tr>
<tr>
<td>
<div class=contentPostin style="position: relative ;top: 0px"></div>
</td>
</tr>
 
 </table>