<section id="User_tab-nav"
		style="display: visible; position: relative; top: 0px">

		<div id="navtabs">
			<ul>
				<li id="management:firm:user"><a
				javascript:
					href="javascript:registerMenuManagementUser('managementUserListInit')" title="Benutzer">Benutzer</a></li>
				<li id="management:user:classes"><a
					href="javascript:registerMenuManagementUser('managementUserClassesInit')" title="Klassen">Klassen</a></li>
				<li id="management:class:teams"><a
					href="javascript:registerMenuManagementUser('managementUserTeamsInit')" title="Teams">Teams</a></li>
			</ul>
			<BR>
		</div>

</section>

<div class=contentUser style="position: relative ;top: 0px"></div>
