
<form id="dialogSellingOrder" action="">
	<table style="width: 100%">
		<tbody>
			<tr>
				<td class="fieldname">ticket#</td>
				<td><input type="text" name="ticketID" size="8" disabled></td>
				<td class="fieldname"></td>
				<td colspan="2"></td>
				<td rowspan="4" width="50%">
					<table
						style="border-style: solid; border-color: #aaa; border-width: 1px; width: 100%;">
						<tr>
							<td class="fieldname">Straße</td>
							<td colspan="3"><input type="text" name="street" size="15"
								disabled></td>
						</tr>
						<tr>
							<td class="fieldname">Land/PLZ/Ort</td>
							<td><input type="text" name="country" size="1" disabled></td>
							<td><input type="text" name="postcode" size="1" disabled></td>
							<td><input type="text" name="city" size="10" disabled></td>
						</tr>
						<tr>
							<td class="fieldname">E-Mail</td>
							<td colspan="3"><input type="text" name="email" size="15"
								disabled></td>
						</tr>
						<tr>
							<td class="fieldname">UStID</td>
							<td colspan="3"><input type="text" name="UStID" size="15"
								disabled></td>
						</tr>
					</table>
				</td>

			</tr>
			<tr>
				<td class="fieldname">Auftragsdatum</td>
				<td><input type="text" name="orderDate" size="8"></td>
				<td class="fieldname">AuftragsNr.</td>
				<td><input type="text" name="orderNo" size="10" maxlength="25"></td>
				<td id="newVoucherNo" style='font-size: 10px;'></td>
			</tr>
			<tr>
				<td class="fieldname">KundenNr.</td>
				<td><input type="text" name="debitor" size="8"></td>
				<td class="fieldname">Kunde</td>
				<td colspan="2"><input type="text" name="customer_company"
					size="15" maxlength="50"></td>
			</tr>
			<tr>
				<td class="fieldname">Kundenrating</td>
				<td><input class=inputCenter type="text" name="D_rating"
					size="8" disabled></td>
				<td class="fieldname">Kundenrabatt</td>
				<td><input class=inputRight type="text" name="rebate" size=5
					disabled>%</td>
				<td></td>
			</tr>
			<tr>
				<td colspan="6"><HR></td>
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<td style="background-color: #eee;" class="thd" width="25%">Einkauf</td>
				<td style="background-color: #eee;" class="thd" width="25%">Versand</td>
				<td style="background-color: #eee;" class="thd" width="25%">Auftragssumme</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td valign="top">
					<table>
						<tr>
							<td class="fieldname">Bestellgrund</td>
							<td><select name="reason">
									<option value='S'>Schriftliche Bestellung</option>
									<option value='W'>webshop Bestellung</option>
									<option value='M'>Messeauftrag</option>
							</select></td>
						</tr>
						<tr>
							<td class="fieldname">Preisgrundlage</td>
							<td><select name="basisPrice">
									<option value='K'>Katalog</option>
									<option value='A'>persönliches Angebot</option>
									<option value='S'>Sonderangebot</option>
							</select></td>
						</tr>
						<tr>
							<td class="fieldname">Angebot vom</td>
							<td><input type="text" name="offerDate" size="8"></td>
						</tr>
						<tr>
							<td class="fieldname">Lieferung KW</td>
							<td><input type="text" name="week" size="8"></td>
						</tr>
						<tr>
							<td class="fieldname">BestellNr.</td>
							<td><input type="text" name="purchaseNo" size="15"
								maxlength="25"></td>
						</tr>
						<tr>
							<td class="fieldname">Bestelldatum</td>
							<td><input type="text" name="purchaseDate" size="8"></td>
						</tr>

					</table>
				</td>
				
				<td valign="top">
					<table>
						<tr>
							<td class="fieldname"><a href="javascript:deliveryAddress()">Versandanschrift</a></td>
							<td><input type="text" name="postNumberReceiver" size="20"
								disabled></td>
						</tr>
						<tr>
							<td class="fieldname">frei Haus ab</td>
							<td><input class=inputRight type=text name=carriageFree
								size=5 disabled></td>
						</tr>

						<tr>
							<td class="fieldname">Versandbedingung</td>
							<td><select name="deliveryCondition">
									<option value='frei'>frei Haus</option>
									<option value='unfrei'>unfrei</option>
							</select></td>
						</tr>
						<tr>
							<td class="fieldname">Versandart</td>
							<td><select name="dispatch">
									<option value='DHLP'>DHL-Packstation</option>
									<option value='DHL'>DHL-Hauslieferung</option>
									<option value='baysped'>Spedition</option>
									<option value='LKW'>LKW Werksverkehr</option>
							</select></td>
						</tr>
						<tr>
							<td class="fieldname"><a href=javascript:compareDispatch()>Versandkosten</a></td>
							<td><input class=inputRight type="text" name="shippingCosts"
								size="8"></td>
						</tr>
						<tr>
							<td class="fieldname">Vorauskasse</td>
							<td><input type="checkbox" name="prepayment"></td>
						</tr>
						<tr>
							<td class="fieldname">Zahlungsbedingung</td>
							<td><select name="termPayment"></select></td>
						</tr>
						<tr>
							<td></td>
						<tr>
							<td><input class="inputButton" type="button"
								name="save_order" value='save'></td>
						</tr>
					</table>
				</td>
				<td valign="top" id=baseTotalSumDiv></td>
			</tr>
		</tbody>
	</table>
</form>




<form id="dialogSellingOrderPositions" action="">
	<b>Auftrag - Positionen</b>
	<div id=baseOrderPositionsDiv></div>
</form>

