<form id="dialogSellingOrderStore" action="">
<input type=hidden name=id>
<input type=hidden name=orderID>
<input type=hidden name=positionID>
<input type=hidden name=OK>

<table style="width:100%">
	<tr>
		<td style="background-color: #eee; font-weight: bold;" class="thd">Auftragspositionen</td>
		<td style="width: 20px;"><input type="hidden" name="positionID"></td>
		
		<td style="display:none">
				<select name="storeSelect" onchange="javascript:sellingOrderStoreChange()">
					<option value='storeHW'>Handelswaren</option>
				</select>
		</td>
	</tr>
	<tr>
		<td valign="top" style="width:100%">
			<table style="width:100%">
				<thead>
					<tr style="background-color: #aaa;">
						<td>ArtikelNr.</td>
						<td>Bezeichung</td>
						<td colspan="2">Variation</td>
						<td style="text-align: right;">Menge</td>
						<td>Reservierung</td>
						<td>Ausgang</td>
						<td style="text-align: right;">EZ-Preis</td>
					</tr>
				</thead>
				<tbody id="tbodyOrderStorePositions">
					<tr onmouseover="" style="cursor: pointer;"
						onclick=sellingPosition2stock([id])>
						<td>[article_code]</td>
						<td>[name]</td>
						<td>[variation1]</td>
						<td>[variation2]</td>
						<td style="text-align: right;">{germanDezimal([quantity])}</td>
						<td style="text-align: center;">{[stockR]==1 ?
												'<span class="ui-icon ui-icon-check"</span>' :
												[stockR]==-1 ?
												'<span class="ui-icon ui-icon-alert"</span>' :
												''
												}
						</td>
						<td style="text-align: center;">{[stockO]==1 ?
												'<span class="ui-icon ui-icon-check"></span>' :
												[stockO]==-1 ?
												'<span class="ui-icon ui-icon-alert"</span>' :
												''}
						</td>
						<td style="text-align: right;">{germanDezimal([price])}</td>
					</tr>
				</tbody>
			</table>
		</td>
		<td></td>
		<td rowspan=2>
			<div id=dialogStoreDiv></div>
		</td>
		</tr>
		
		<tr>
		<td valign=top style="width:100%">
			<table style="width:100%">
				<thead>
					<tr>
					<td colspan=9 style="background-color: #eee; font-weight: bold;" class="thd">Lagerbuchungen</td>
					</tr>
					<tr style="background-color: #aaa;">
						<td>ArtikelNr.</td>
						<td>Bezeichung</td>
						<td colspan="2">Variation</td>
						<td style="text-align: right;">Menge</td>
						<td>Art</td>
						<td>OK</td>
						<td>user</td>
						<td>Datum</td>
						<td colspan=2></td>
					</tr>
				</thead>
				<tbody id="tbodyOrderStoreTransactionPositions">
					<tr>
						<td>[article_code]</td>
						<td>[name]</td>
						<td>[variation1]</td>
						<td>[variation2]</td>
						<td style="text-align: right;">{germanDezimal([quantity])}</td>
						<td style="text-align: center;">[transaction]</td>
						<td style="text-align: center;">{[OK]==1 ?
												'<span class="ui-icon ui-icon-check"></span>' :
												'<span class="ui-icon ui-icon-alert"></span>'
												}
						</td>
						<td>[user]</td>
						<td>{dateSql2German('[date]')}</td>
						<td><a href=javascript:dialogDeleteId('',[id],'/sellingOrderStoreDelete','sellingOrderStoreInit()')>delete</a></td>
						<td><a href=javascript:position2stock([positionID],'sellingOrderStoreTransactionEdit([id])')>edit</a></td>
					</tr>
				</tbody>
			</table>
		</td>
		</tr>
		</table>

<div id=storeHW style="display:none">
					<table>
						<tr>
							<td>Auftrag</td>
							<td colspan="2"><input type=hidden name=positionID>
								<input type=hidden name=article_id> <input type=hidden
								name=variation1_id> <input type=hidden
								name=variation2_id> <input type=hidden name=article_code>
								<input type=hidden name=name> <input type=hidden
								name=disponibleQuantity> <input type=hidden
								name=realQuantity> <input type="text" name="sellingNo"
								size="5" disabled></td>
						</tr>
						<tr>
							<td>Nummer</td>
							<td colspan="2"><input type="text" name="article_code"
								size="5" disabled></td>
						</tr>
						<tr>
							<td>Bezeichnung</td>
							<td colspan="2"><input type="text" name="name" size="30"
								disabled></td>
						</tr>
						<tr>
							<td>Variation</td>
							<td><input type="text" name="variation1" size="5" disabled>
							</td>
							<td><input type="text" name="variation2" size="5" disabled>
							</td>
						</tr>

						<tr>
							<td>Lagerbewegung</td>
							<td colspan="2"><select name="transaction">
									<option value='R'>Reservierung</option>
									<option value='O'>Ausgang</option>
							</select></td>

						</tr>
						<tr>
							<td>Menge</td>
							<td colspan="2"><input class="inputRight" type="text"
								name="quantity" size="5"></td>
						</tr>
						<tr>
							<td>verfügbar</td>
							<td><input class="inputRight" type="text"
								name="disponible_quantity" size="5"> <input
								type="hidden" name="disponible"></td>
							<td id="disponibleQuantity"></td>
						</tr>
						<tr>
							<td>tatsächlich</td>
							<td><input class="inputRight" type="text"
								name="real_quantity" size="5"> <input type="hidden"
								name="real"></td>
							<td id="realQuantity"></td>
						</tr>
						<tr>
							<td></td>
							<td colspan="2"><input class="inputButton" type="button"
								onclick="sellingOrderStoreTransactionSave()" value='save'></td>
						</tr>
					</table>
</div>

</form>