<table>
	<tr>
		<td style="background-color: #eee; font-weight: bold;" class=thd>Empfangsschein</td>
	</tr>
	<tr>
		<td valign=top>
			<form id="dialogSellingOrderReceipt">
			<input type=hidden name=orderID>
				<table>
					<tr>
						<td width=100px class=fieldname>Warenversand</td>
						<td><input type=text name=dispatchDate size=8></td>
						<td width=100px class=fieldname>LieferscheinNr.</td>
						<td><input type=text name=deliveryNo size=10></td>
					</tr>
					<tr>
						<td width=100px class=fieldname>Versandbedingung</td>
						<td><select name=deliveryCondition>
								<option value='frei'>frei Haus</option>
								<option value='unfrei'>unfrei</option>
						</select></td>
						<td width=100px class=fieldname>Versandart</td>
						<td><select name=dispatch>
								<option value='DHL'>DHL</option>
								<option value='baySped'>Spedition</option>
								<option value='truck'>Werkverkehr</option>
						</select></td>
					</tr>
					<tr>
						<td width=100px class=fieldname>Empfangsbestätigung</td>
						<td><input type=text name=receiptDate size=8></td>
						<td></td>
						<td><input class=inputButton type=button name=saveReceipt
							value='save'></td>
					</tr>
				</table>
			</form>
		</td>
		<!---<td style="width:20px;"></td>--->
	</tr>
</table>
<table style="width: 70%">
	<tr>
		<td style="background-color: #eee; font-weight: bold;" class="thd">Lieferscheinpositionen</td>
	</tr>
	<tr>
		<td valign="top"
			style='border-width: 1px; border-color: #ccc; border-style: solid;'>
			<table>
				<thead>
					<tr style="background-color: #aaa;">
						<td>ArtikelNr.</td>
						<td>Bezeichung</td>
						<td colspan="2">Variation</td>
						<td style="text-align: right;">Menge</td>
						<td>EH</td>
						<td style="text-align: right;">Preis</td>
						<td style="text-align: right;">Rabatt</td>
						<td style="text-align: right;">gesamt</td>
					</tr>
				</thead>
				<tbody id="tbodyOrderReceiptPositions">
					<tr>
						<td>[article_code]</td>
						<td>[name]</td>
						<td>[variation1]</td>
						<td>[variation2]</td>
						<td style="text-align: right;">{germanDezimal([quantity])}</td>
						<td>[quantity_unit]</td>
						<td style="text-align: right;">{germanDezimal([price])}</td>
						<td style="text-align: right;">{germanDezimal([discount])}</td>
						<td style="text-align: right;">{germanDezimal([sumPosition])}</td>
					</tr>
				</tbody>
			</table>
	</tbody>
</table>
<table>
	<tr>
		<td style="background-color: #eee; font-weight: bold;" class="thd">Verpackung - Retour - Gutschrift</td>
	</tr>
	<tr>
		<td valign="top"
			style='border-width: 1px; border-color: #ccc; border-style: solid;'>
			<form id="dialogOrderCreditPositions" action="">

				<table>
					<thead>
						<tr style="background-color: #aaa;">
							<td></td>
							<td>Nummer</td>
							<td>Bez.</td>
							<td colspan=2>Variations</td>

							<td style='text-align: right;'>Menge</td>
							<td style="text-align: left;">EH</td>
							<td style="text-align: left;">Grund</td>

							<td style='text-align: right;'>Preis</td>
							<td style='text-align: right;'>Gutschrift</td>
							<td style='text-align: left;'>USt.-Korrektur</td>
							<td colspan=2></td>
						</tr>

						<tr style="background-color: #eee;">
							<td><input type=hidden name=id value=-1> <input
								type=hidden name=article_id value=-1> <input type=hidden
								name=orderID value=-1></td>
							<td><input type="text" name="article_code" size="5"
								maxlength="25"></td>
							<td><input type="text" name="name" size="10" maxlength="20"></td>
							<td><select name="variation1_id">
							</select></td>
							<td><select name="variation2_id">
							</select></td>
							<td style='text-align: right;'><input class="inputRight"
								type="text" name="quantity" size="3"></td>
							<td><input type="text" name="quantity_unit" size="2"></td>
							<td><input type="text" name="content" size="10"
								maxlength="30"></td>
							<td style='text-align: right;'><input class="inputRight"
								type="text" name="price" size="3"></td>
							<td style='text-align: right;'><input class="inputRight"
								type="text" name="sumPosition" size="3"></td>
							<td style='text-align: right;'><select name="vat_id">
								</select>
								</td>
							<td colspan=2><input type=button name=saveButton value="add"></td>
						</tr>
					</thead>
					<thead>
					</thead>
					<tbody id="tbodyOrderCreditPositions">
						<tr>
							<td></td>
							<td>[article_code]</td>
							<td>[name]</td>
							<td>[variation1]</td>
							<td>[variation2]</td>
							<td style="text-align: right;">{germanDezimal([quantity])}</td>
							<td>[quantity_unit]</td>
							<td>[content]</td>
							<td style="text-align: right;">{germanDezimal([price])}</td>
							<td style="text-align: right;">{germanDezimal([sumPosition])}</td>
							<td style="text-align: right;">{germanDezimal([percentage]*100)}%</td>
							<td style="text-align: left;"><a
								href="javascript:classPosition._deletePosition([id])">delete</a></td>
							<td style="text-align: left;"><a
								href="javascript:classPosition._editPosition([id])">edit</a></td>
						</tr>

					</tbody>

				</table>
			</form>
		</td>
	</tr>
</table>

