<table>
<tr>
<td valign=top style="width:200px;">
			<div id="navmenu">
				&nbsp; <BR>
				<ul class="ulindex">
					<li id='selling:sellingBook'><a
						href="javascript:orderID=-1;indexMenuSelling('sellingBookInit')">Auftragsbuch</a></li>
					<li>
					</ul>
			</div>
</td>
<td style="height:500px;border-left-style:solid;border-left-color:#000;border-left-width:1px;">&nbsp;</td>
<td valign=top>
	<div class="modulContent"></div>
</td>	
</tr>
</table>

<div id="dialogSellingPrintDiv" title="Druckvorschau" style="display: none;">
<form id=dialogSellingPrint>
<input type=hidden name=orderID>
	<table width=100%>
		<tr>
			<td valign=top width=66%>
				<table style="width: 100%">
					<tr>
						<td colspan=2 id=ajax-loading style="display: none;" align=center><img
							src=./web/images/ajax-loader.gif></td>
					</tr>

					<tr>
						<td>
						<div id="previewDocumentSellingPrint">
						<iframe id="previewFileSellingPrint" style="width: 100%; height: 600px"></iframe>
						</div>
						</td>
					</tr>

				</table>
			</td>
			<td valign=top>
				<table>
					<tr>
						<td>Formular</td>
						<td><select name=printForm>
								<option value='UeBW'>ÜBW</option>
								<option value='GETIN'>GET-IN</option>
						</select></td>
					</tr>

					<tr>
						<td>Sprache</td>
						<td><select name="printLang">
								<option value='de'>deutsch</option>
								<option value='en'>englisch</option>
						</select></td>
					</tr>
					<tr>
						<td colspan=2><HR></td>
					</tr>
					<tr>
						<td><input type="checkbox" name="cb_AB" value="1"></td>
						<td>Auftragsbestätigung</td>
					</tr>
					<tr>
						<td><input type="checkbox" name="cb_WES" value="1"></td>
						<td>Warenentnahmeschein</td>
					</tr>
					<tr>
						<td><input type="checkbox" name="cb_LS" value="1"></td>
						<td>Lieferschein</td>
					</tr>
					<tr>
						<td><input type="checkbox" name="cb_WZ" value="1"></td>
						<td>Warenzettel</td>
					</tr>
					<tr>
						<td><input type="checkbox" name="cb_BBP" value="1"></td>
						<td>Beförderungs- und Begleitpapiere</td>
					</tr>
					<tr>
						<td><input type="checkbox" name="cb_ES" value="1"></td>
						<td>Empfangsschein</td>
					</tr>
					<tr>
						<td><input type="checkbox" name="cb_AR" value="1"></td>
						<td>Rechnung</td>
					</tr>
					<tr>
						<td><input type="checkbox" name="cb_GS" value="1"></td>
						<td>Gutschrift</td>
					</tr>
					<tr>
						<td colspan=2><HR></td>
					</tr>
					<tr>
						<td>Brief</td>
						<td><select name="cb_GB"></select></td>
					</tr>
					<tr>
						<td colspan=2>
							<div id=sellingSendAttachmentDiv style="display:none">
							<input type=file id=sellingAttachment></td>
							</div>
					</tr>
					<tr>
						<td colspan=2><HR></td>
					</tr>
					<tr>
						<td></td>
						<td><input type=button class=inputButton name=button value='Vorschau'
							onclick=javascript:sellingBookDialogPrintPreview()></td>
					</tr>
					<tr>
						<td colspan=2 id=_debugId style="display:none">
							<table>
							<tr>
							<td><input type="checkbox" name="_debug" value="1"></td>
							<td>debug</td>
							</tr>
							</table>
						</td>
					</tr>
				</table>

			</td>
		</tr>
	</table>
</form>
</div>
