<table>
<tr>
<td valign=top style="width:200px;">

	<section id="Store_tab-nav"
		style="display: visible; position: relative; top: 0px">

		<div id="navtabs">
			<ul>
				<li id="article:storeList"><a
					href="javascript:registerMenuStore('storeListInit')" title="Lagerbestand"><span accesskey=l><u>L</u></span>agerbestand</a></li>
				<li id="article:articleGroupsList"><a				
					href="javascript:registerMenuStore('storeReorderListInit')" title="Nachbestellung"><span accesskey=n><u>N</u></span>achbestellung</a></li>
			</ul>
			<BR>
		</div>

	</section>
</td>
</tr>
<tr>
<td>
<div class=contentStore style="position: relative ;top: 0px"></div>
</td>
</tr>
</table>

<div id=dialogReorderDiv style="display:none;"></div>