<div style="margin: 0px;" id="gridNewFirms">gridNewFirms</div>

<div id=dialogNewFirmDiv style="display:none;">
<form id="dialogNewFirm">
<input type=hidden name=firmID>
	<table>
		<tr>
			<td colspan=2><input type=text name=company style="width: 100%;"
				disabled></td>
		</tr>

		<tr>
			<td>
				<table style="width: 100%">

					<tr>
						<td colspan=4 style="background-color: #eee; font-weight: bold;"
							class=thd>Adresse</td>
					</tr>
					<tr>
						<td class=fieldname>Firma</td>
						<td colspan=3><input type=text name=company size=30></td>
					</tr>
					<tr>
						<td class=fieldname></td>
						<td colspan=3><input type=text name=company2 size=30></td>
					</tr>
					<tr>
						<td class=fieldname>Straße</td>
						<td colspan=3><input type=text name=street size=30></td>
					</tr>
					<tr>
						<td class=fieldname>Land/PLZ/Ort</td>
						<td><input type=text name=country size=2></td>
						<td><input type=text name=postcode size=5></td>
						<td><input type=text name=city size=30></td>
					</tr>
					<tr>
						<td colspan=4 style="background-color: #eee; font-weight: bold;"
							class=thd>Kommunikation</td>
					</tr>
					<tr>
						<td class=fieldname>Geschäftsführer</td>
						<td colspan=3><input type=text name=manager size=30></td>
					</tr>

					<tr>
						<td class=fieldname>Telefon</td>
						<td colspan=3><input type=text name=phone size=30></td>
					</tr>
					<tr>
						<td class=fieldname>E-Mail</td>
						<td colspan=3><input type=text name=email size=30></td>
					</tr>

					<tr>
						<td colspan=4 style="background-color: #eee; font-weight: bold;"
							class=thd>Steuer</td>
					</tr>
					<tr>
						<td>UStID</td>
						<td colspan=3><input type=text name=UStID size=30></td>
					</tr>

					<tr>
						<td colspan=4 style="background-color: #eee; font-weight: bold;"
							class=thd>Bankverbindung</td>
					</tr>
					<tr>
						<td>eurobank IBAN</td>
						<td colspan=3><input type=text name=IBAN size=30></td>
					</tr>
					<tr>
						<td>getIN IBAN</td>
						<td colspan=3><input type=text name=getin_IBAN size=30></td>
					</tr>

					<tr>
						<td>Partnerbank</td>
						<td colspan=3><select name=BICP size=1></select></td>
					</tr>
					<tr>
						<td>Partnerbank IBAN</td>
						<td colspan=3><input type=text name=IBANP size=30></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>
</div>
