<table>
<tr>
<td style="margin: 0px;width:20%" id="gridSysAdminGrid"></td>
<td valign=top>
<div id=dialogSysAdminGridDiv>
<form id=dialogSysAdminGrid>
<input type=hidden name=id>
	<table>
	<tr>
	<td>
	<select name=field>
	<option value="objGrid">objGrid</option>
	<option value="toolbar">toolbar</option>
	<option value="colModel">colModel</option>
	<option value="dataModel">dataModel</option>
	<option value="groupModel">groupModel</option>
	<option value="dialogModel">dialogModel</option>
	</select>
	</td>
	</tr>
	<tr>
		<td>
		<textarea id=gridContent name=content rows=20 cols=80></textarea>
		</td>
		<td id=gridFieldListTd style="display:none">
		<select name=gridFieldList size=20></select>
		</td>
	</tr>
	<tr>
	<td><input class="inputButton" type="button"
			name="save" value='save Grid'>
	</td>
	</tr>
	</table>
	</form>
	</div>
</td>
</tr>

</table>
