<table>
<tr>
<td valign=top>
			<div id="navmenu">
				&nbsp; <BR>
				<ul class="ulindex">
					<li id='selling:sysAdmin'><a
						href="javascript:indexMenuSysAdmin('sysAdminNewFirmsInit')">neue Firmen Anträge</a></li>					
						<li id='selling:sysAdmin'><a
						href="javascript:indexMenuSysAdmin('sysAdminChangeFirmInit')">Firma wechseln</a></li>					
					<li><hr></li>
					<li>Vorlagen
						<ul>
						<li id='selling:sysAdmin'><a
						href="javascript:indexMenuSysAdmin('sysAdminPrintTemplatesInit')">Druckvorlagen</a></li>					
						</ul>
					</li>
					<li><hr></li>
					<li><span style="color:##0000;">Systemsteuerung</span>
						<ul>
						<li id='selling:sysAdmin'><a
						href="javascript:indexMenuSysAdmin('sysAdminGridInit')">Grid for Tables</a></li>					
						</ul>
					</li>
					<li><hr></li>
					<li><span style="color:##0000;">Migration</span>
						<ul>
						<li id='selling:sysAdmin'><a
						href="javascript:indexMenuSysAdmin('sysAdminMigrationDatabaseInit')">Migration database</a></li>					
						</ul>
					</li>
					</ul>
			</div>
</td>
<td valign=top>
	<div class="modulContent"></div>
</td>	
</tr>
</table>