<table style="width:100%">
<tr>
<td style="margin: 0px;" id="gridSysAdminPrintTemplates"></td>
<td valign=top>
<form id=dialogTemplates>
<input type=hidden name=id>
<input type=hidden name=division>
	<table>
	<tr>
	<td>
	<select name=lang>
	<option value="de">deutsch</option>
	<option value="en">englisch</option>
	</select>
	</td>
	</tr>
	<tr>
		<td>
		<textarea style="overflow:scroll" name=content rows=20 cols=110></textarea>
		</td>
	</tr>
	<tr>
	<td><input class="inputButton" type="button"
			name="save" value='save Template'>
	</td>
	</tr>
	</table>
	</form>
</td>
</tr>

</table>
